<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>上樞大芢</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="Resource-type" content="" />
    <!-- <meta property="og:image" content="https://www.zyed.com.tw/VITRUVIUS/img/1200x630.png"> -->
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/fullpage.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/examples.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/slick.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/slick-theme.css" /> -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <!-- js -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/fullpage.js"></script>
    <!-- <script type="text/javascript" src="js/examples.js"></script> -->
    <!-- <script type="text/javascript" src="js/slick.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    
    
</head>

<body>

    <section id="fullpage" class="fullpage">
        <div class="section theme theme1 fp-auto-height-responsive" id="section0">
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme1_title.svg" alt="">
            </div>
            <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme1_subtitle.svg" alt="">
            </div>
        </div>
        <div class="section theme theme2 fp-auto-height-responsive" id="section1">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img src="img/theme2_title.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img src="img/theme2_subtitle.svg" alt="">
                </div>
                <div class="info wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img src="img/theme2_info.svg" alt="">
                </div>
        </div>
        <div class="section theme theme3 fp-auto-height-responsive" id="section2">

        </div>
        <div class="section theme theme4 fp-auto-height-responsive" id="section3">
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme4_title.svg" alt="">
            </div>
            <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme4_subtitle.svg" alt="">
            </div>
            <div class="info wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme4_info.svg" alt="">
            </div>
        </div>
        <div class="section theme theme5 fp-auto-height-responsive" id="section4">
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme5_title.svg" alt="">
            </div>
            <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme5_subtitle.svg" alt="">
            </div>
            <div class="info wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme5_info.svg" alt="">
            </div>
        </div>
        <div class="section theme theme6 fp-auto-height-responsive" id="section5">
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme6_title.svg" alt="">
            </div>
            <div class="info wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme6_info.svg" alt="">
            </div>
        </div>
        <div class="section theme theme7 fp-auto-height-responsive" id="section6">
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme7_title.svg" alt="">
            </div>
            <div class="info wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/theme7_info.svg" alt="">
            </div>
        </div>
        <div class="section theme theme8 fp-auto-height-responsive" id="section7">

        </div>
        <div class="section theme theme9 fp-auto-height-responsive" id="section8">
            <div class="photo swiper-container">
                <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                        <div class="item">
                            <img src="img/theme9_photo1.png" alt="">
                        </div>
                    </div> -->
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="img/theme9_photo2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="img/theme9_photo3.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="img/theme9_photo4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app">
            <div class="section theme theme10 fp-auto-height-responsive" id="section9" >
                <div class="content">
                    <div class="block pc">
                        <div class="title">
                            <img src="img/theme10_title1.svg" alt="">
                        </div>
                        <div class="text">
                            <div class="item">
                                <img src="img/theme10_text1.svg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/theme10_text2.svg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/theme10_text3.svg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/theme10_text4.svg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/theme10_text5.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            <img src="img/theme10_title2.svg" alt="">
                        </div>
                        <div class="form">
                            <div class="group">
                                <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                                    <label for="name">貴賓姓名(必填)</label>
                                    <input type="text" v-model="name" name="name" placeholder="貴賓姓名(必填)" required />
                                </div>
                                <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
                                    <label for="phone">請輸入電話(必填)</label>
                                    <input type="text" v-model="phone" name="phone" placeholder="請輸入電話(必填)" required />
                                </div>
                                <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">
                                    <label for="email">請輸入電子郵件</label>
                                    <input type="text" v-model="email" name="email" placeholder="請輸入電子郵件" required />
                                </div>
                                <div class="item half wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">
                                    <label for="name">居住縣市</label>
                                    <input type="text" v-model="city" name="city" placeholder="居住縣市" required />
                                </div>
                                <div class="item half wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">
                                    <label for="phone">居住區域</label>
                                    <input type="text" v-model="area" name="area" placeholder="居住區域" required />
                                </div>
                                <div class="item mob wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s" style="height: auto; margin:20px auto;">
                                    <img src="img/theme10_text5.svg" alt="">
                                </div>
                                <div class="item wow fadeInUp check" data-wow-delay="1.2s">
                                    <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" checked required>
                                    <label for="checkbox" class="checktxt">本人已知悉以上個人資料搜集聲明事項隱私權聲明</label>
                                </div>
                                <!-- <div class="item">
                                    <img src="img/theme10_text7.svg" alt="">
                                </div> -->
                            </div>
                            <button class="send"  v-on:click="sendEmail()">立即預約</button>
                        </div>
                    </div>
                </div>
                <div class="popup"  v-bind:class="{ is_acted: popupIndex != 0 }">
                    <div class="popup_content">{{msg}}</div>
                </div>
            </div>
        </div>
    </section>

</body>

<script>

    $(document).ready(function () {

        new WOW().init();

        var myFullpage = new fullpage('#fullpage', {
            anchors: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10'],
            sectionsColor: ['#81e4e8', '#8dcdec', '#8dcdec', '#8dcdec', '#8dcdec', '#8dcdec', '#8dcdec', '#8dcdec', '#54a9b2', '#b8b985'],
            navigation: false,
            scrollBar: true,
            autoScrolling: true,
            arrows: false,
            responsiveWidth: 960
        });

        //box height
		// if( $(window).width() > 960 ){
        //     $('.section').addClass('fp-auto-height');
		// }
		// else{
		// }

    });


    $('.send').on('click', function () {
        $('.popup').addClass('is_acted');
        setTimeout(() => { 
            $('.popup').removeClass('is_acted');
        }, 5000);
    });

    var mySwiper = new Swiper ('.swiper-container', {
        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
                clickable: true,
            renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (menu[index]) + '</span>';
            },
        },

        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
    })

    new Vue({
        el: '#app',
        data: {
            popupIndex: 0,
            name: "",
            email: "",
            phone: "",
            city: "",
            area: "",
            time: "",
            needInfo: "是",
            infoIndex: 0, // 0=關閉
            msg:""
        },
        created() {},
        methods: {
            showPopup: function(tag) {
                $('.slider_popup').slick('slickGoTo', 0)
                this.popupIndex = tag
            },
            sendEmail: function() {
                var self = this;
                var tomail = "roger19910106@gmail.com" //信箱 
                var to_name = "新理想建設" //信件名稱

                var subject = "我要預約上樞大芢看房" //信件主旨
                var content = "姓名:" + self.name + "<br>" +
                    "手機:" + self.phone + "<br>" +
                    "E-mail:" + self.email + "<br>" +
                    "居住縣市:" + self.city + "<br>" +
                    "鄉鎮區域:" + self.area + "\n" ;

                // if (!self.check) {
                //     self.popupIndex = 10
                //     self.msg = "請勾選同意本公司個資保護條款。"
                //     setTimeout(function() {
                //         self.popupIndex = 0
                //     }, 1000)
                //     return
                // }

                self.msg = "表單傳送中...。"
                self.popupIndex = 10
                fetch('https://gn01658704.lionfree.net/mailV2.php', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: new URLSearchParams({
                            subject: subject,
                            body: content,
                            to: tomail,
                            to_name: to_name
                        }).toString()
                    })
                    .then(response => response.json())
                    .then(function(myJson) {
                        console.log(myJson)
                        if (myJson.code == 200) {
                            self.msg = "您已送出資訊，我們將與您聯繫。"
                            setTimeout(function() {
                                self.popupIndex = 0
                            }, 3000);
                        } else {
                            self.msg = "表單發送失敗，請重新發送。"
                        }
                    });
            },
            enterInfoDailog: function(inedx) {

            }
        }
    })

</script>



</html>